*/* my-html-project/reset.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    font-family: serif;
} 

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}